
.icon-web{
    /*color: #00B1CD;*/
    /*color: #0071c7;*/
    color: #7d18d5;
    /*color: #ff0000;*/
}
.icon-pdf{
    /*color: #00B1CD;*/
    color: #c70038;
}

.tbl-header{
    background: #53dd44;
}

.my-heading{
    /*color: #0c55ea;*/
    color: black;
}